.productPage {
  width: 100%;
  .mainPart {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    width: 98%;
    .column1 {
      width: 63%;
      height: fit-content;
      margin-right: 1%;
      margin-bottom: 50px;
      img {
          width: 45%;
        max-width: 400px;
        height: 100%;
        margin: 10px;
      }
    }
    .column2 {
      width: 34%;
      margin-bottom: 50px;
      .storeDetails {
        display: flex;
        width: 94%;
        margin: 15px 3%;
        justify-content: space-between;
        .storeName {
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          /* identical to box height */

          letter-spacing: 0.01612em;
          text-decoration-line: underline;

          /* Primary/Base */

          color: #015850;
        }
        .mallName {
          width: 80px;
          padding-left: 1%;
          text-align: right;
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 21px;
          /* identical to box height */
          background-image: url("../../assets/png/ProductPage/locationPin.png");
          background-position-y: center;
          background-repeat: no-repeat;
          letter-spacing: 0.01612em;

          color: #000000;
        }
      }
      .product {
        .productName {
          margin: 3%;
          text-align: left;
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 150%;
          /* or 36px */

          letter-spacing: 0.01612em;

          /* P/S9 */

          color: #000908;
        }
        .priceDetails {
          display: flex;
          width: 100%;
          margin-left: 3%;
          flex-wrap: wrap;
          height: 40px;
          .currentPrice {
            margin-top: auto;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 34px;
            letter-spacing: 0.01612em;

            /* P/S9 */

            color: #000908;
            margin-right: 3%;
          }
          .originalPrice {
            margin-top: 5px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            letter-spacing: 0.01612em;
            /* Neutral/400 */
            margin-right: 3%;
            color: #666666;
          }
          .offer {
            margin-top: 5px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 21px;
            /* identical to box height */
            margin-right: 5%;
            letter-spacing: 0.01612em;
            color: #e50015;
          }
          .read {
            width: 400px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 40px;
            /* identical to box height */

            letter-spacing: 0.01612em;

            /* Neutral/600 */

            color: #999999;
          }
        }
      }
      .offers {
        margin-top: 40px;
        margin-left: 3%;
        display: flex;
        flex-direction: column;
        .title {
          font-family: Poppins;
          font-style: normal;
          font-size: 20px;
          margin-bottom: 10px;
          margin-top: 30px;
        }
        .offersAvailable {
          width: 100%;
          padding-left: 30px;
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 17px;
          line-height: 35px;
          /* identical to box height */
          text-decoration-line: underline;
          text-transform: uppercase;
          background-image: url("../../assets/png/ProductPage/Discount.png");
          background-repeat: no-repeat;
          background-position-x: 10;
          background-position-y: center;
          /* Primary/Base */

          color: #015850;
        }
      }
      .sizes {
        margin-top: 30px;
        margin-left: 3%;
        .header {
          display: flex;
          width: 95%;
          justify-content: space-between;
          .titleName {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 22px;
            /* identical to box height */

            letter-spacing: 0.01612em;

            /* P/S9 */

            color: #000908;
          }
          .guide {
            margin-top: 3px;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            /* identical to box height */

            text-align: right;
            letter-spacing: 0.01612em;
            text-decoration-line: underline;

            /* P/S9 */

            color: #000908;
          }
        }
        .sizesAvailable {
            margin-top: 20px;
            margin-right: auto;
            width: 95%;
            display: inline-flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
          .box {
            width: 15%;
            min-width: 80px;
            border-radius: 5px;
            border: 2px solid #999999;
            margin: 10px 20px;
            padding: 5px;
            background: #ffffff;
            cursor: pointer;
            .size {
              text-align: center;
              font-family: Poppins;
              font-weight: 500;
              font-style: normal;
              font-size: 25px;
              line-height: 60px;
              letter-spacing: 0.0322em;
            }
          }
          .activeBox{
          width: 15%;
                      min-width: 80px;
padding: 5px;
          border-radius: 5px;
          border: 2px solid #015850;
          background: #E6EEEE;
          margin: 10px 20px;
                      cursor: pointer;


          .size {
            text-align: center;
            font-family: Poppins;
            font-weight: 500;
            font-style: normal;
            font-size: 25px;
            line-height: 60px;
            letter-spacing: 0.0322em;
            color: #015850;
          }
        }
        
          .notAvailable{
            width: 13%;
            border-radius: 5px;
            border: 2px solid #E6E6E6;
            background: #FFFFFF;;
            pointer-events: none;
            .size {
              color: #B3B3B3;;
              text-align: center;
              font-family: Poppins;
              font-weight: 500;
              font-style: normal;
              font-size: 25px;
              line-height: 60px;
              letter-spacing: 0.0322em;
            }
          }
        }
      }
      .colours {
        margin-top: 20px;
        margin-left: 3%;
        .title {
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 17px;
          line-height: 22px;
          /* identical to box height */

          letter-spacing: 0.01612em;

          /* P/S9 */

          color: #000908;
        }
        .coloursAvailable {
          width: 100%;
          display: flex;
          flex-direction: row;
          .box {
            margin-top: 20px;
            margin-right: 20px;
            width: 80px;
            height: 80px;
            border-radius: 3px;
                        border: 2px solid #999999;

          }
          .activeBox{
            margin-top: 20px;
            margin-right: 20px;
            width: 80px;
            height: 80px;
            border-radius: 3px;
            border: 2px solid #015850;
          }
        }
      }
      .deliveryDetails {
        margin-left: 3%;
        .title {
          margin-top: 40px;
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 17px;
          line-height: 22px;
          /* identical to box height */

          letter-spacing: 0.01612em;

          /* P/S9 */

          color: #000908;
          text {
            color: #0555bb;
            font-weight: 400;
          }
        }
        .location {
          padding-left: 20px;
          background-image: url("../../assets/png/ProductPage/locationPin.png");
          background-repeat: no-repeat;
          background-position-x: left;
          background-position-y: center;
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 17px;
          line-height: 40px;
          letter-spacing: 0.01612em;
          color: #000908;
          margin: 10px 0px;
        }
        .deliveryType {
          padding-left: 20px;
          background-image: url("../../assets/png/ProductPage/truck.png");
          background-repeat: no-repeat;
          background-position-x: left;
          background-position-y: center;
          width: 300px;
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 17px;
          line-height: 40px;
          letter-spacing: 0.01612em;
          color: #000908;
        }
      }
      .buttons {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        .addtoCart {
          border-radius: 3px;
          margin-left: 3%;
          margin-right: 5%;
          text-align: center;
          background-color: #015850;
          width: 70%;
          line-height: 80px;
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          cursor: pointer;


          /* identical to box height */

          letter-spacing: 0.01612em;
          text-transform: uppercase;

          color: #ffffff;
          .image {
            position: relative;
            top: 5px;
            left: -5px;
            z-index: 0;
          }
        }
        .box {
          width: 90px;
          height: 80px;
          border-radius: 5px;
          border: 2px solid #999999;
          background: #ffffff;
          .size {
            width: 70%;
            margin-left: 13%;
            margin-top: 11%;
          }
          .likedSize{
            width: 60%;
            margin-left: 18%;
            margin-top: 23%;
          }
        }
      }
      .availableLocations {
        margin-top: 50px;
        margin-left: 3%;
        .title {
          margin: 30px 0px;
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 22px;
          /* identical to box height */

          letter-spacing: 0.01612em;

          /* P/S9 */

          color: #000908;
        }
        .stores {
          margin: 30px 0px;
          padding-right: 8%;
          padding-left: 10px;
          justify-content: space-between;
          width: 97%;
          border: 2px solid #808080;
          box-sizing: border-box;
          border-radius: 4px;
          display: flex;
          flex-direction: row;
          height: 80px;
          .storeName {
            width: 250px;
            margin-top: auto;
            margin-bottom: auto;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            /* identical to box height */
            letter-spacing: 0.0322em;
            color: #015850;
          }
          .distance {
            position: relative;
            left: 30px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: 0.0322em;

            color: #231f20;
          }
          .image {
            position: relative;
            top: 27px;
            width: 20px;
            height: 20px;
          }
        }
      }
      .line {
        z-index: 0;
        position: relative;
        top: 40px;
        width: 100%;
        margin: 30px 0px;
        border-bottom: 2px solid #999999;
      }
      .productDetails {
        margin-left: 3%;
        .title {
          margin-top: 70px;
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 30px;
          /* identical to box height */

          letter-spacing: 0.01612em;
          text-transform: uppercase;

          color: #000000;
        }
        .desc {
          margin-top: 20px;
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          letter-spacing: 0.01612em;
          color: #333333;
        }
        li {
          margin-left: -1%;
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 30px;
          /* or 24px */

          letter-spacing: 0.01612em;

          /* Neutral/200 */

          color: #333333;
        }
      }
    }
  }
  .productCardSpan1 {
    .title {
      margin-left: 2%;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      /* identical to box height */

      letter-spacing: 0.01612em;
      text-transform: uppercase;

      color: #000000;
    }
    .pcspan {
      width: 95.5%;
      height: 80%;
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 3.55%;
      padding-left: 2.08%;
      padding-right: 2.08%;
      padding-bottom: 2.08%;
      cursor: pointer;
    }
  }
}
.sizesAvailable>.box :hover{
  cursor: pointer;
}
.sizesAvailable>.activeBox :hover{
  cursor: pointer;
}
.buttons>div:hover{
  cursor: pointer;
}
.availableLocations > .stores{
  cursor: pointer;
}