.topbar {
  width: 99%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  .item-1 {
    position: relative;
    padding-top: 10px;
    margin-left: 20px;
    display: flex;
    :itemss-1 {
      top: 1;
    }

    :hover {
      cursor: pointer;
      // background-color: #7eb9b4;
    }
  }

  .item-2 {
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    padding-right: 30%;
    padding-left: 28%;
    padding-top: 24px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    .items-1 {
      padding-right: 20px;
      font-size: 1.4em;
      font-family: Poppins;
      font-style: normal;
      font-weight: 475;
      color: #000908;
      .my-dropdown-slidedown {
        transition-duration: 3s;
      }
    }

    .items-2 {
      padding-right: 20px;
      font-size: 1.4em;
      font-family: Poppins;
      font-style: normal;
      font-weight: 475;
      color: #000908;
    }
    .items-3 {
      padding-right: 20px;
      font-size: 1.4em;
      font-family: Poppins;
      font-style: normal;
      font-weight: 475;
      color: #000908;
    }
    .items-4 {
      font-size: 1.4em;
      font-family: Poppins;
      font-style: normal;
      font-weight: 475;
      color: #000908;
    }

    :hover {
      color: #015850;
    }
  }
  .item-3 {
    margin-left: -3%;
    width: 80px;
    padding-top: 23px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;

    .cart-items{
      position: relative;
      .cart-items-count{
        top: -4px;
        right: -4px;
        position: absolute;
        border-radius: 50%;
        background-color: red;
        color: #fff;
        padding: 3px 6px;
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
      }
    }

    .ite-1 {
      width: 35px;
      height: 35px;
    }
    .ite-2 {
      width: 35px;
      height: 35px;
    }
    .ite-3 {
      width: 35px;
      height: 35px;
    }
    .ite-4 {
      width: 35px;
      height: 35px;
    }

  }
}
.topbarbottom {
  height: 2px;
  top: 76px;
  border-bottom: 4px solid #b3cdcb;
}

.topbarbottom {
  height: 2px;
  top: 76px;
  border-bottom: 4px solid #b3cdcb;
}
