.wishlist {
  width: 70px;
  height: 60px;

  position: relative;

  /* Primary/White */

  background: #ffffff;
  /* Neutral/600 */
  cursor: pointer;
  border: 1px solid #999999;
  box-sizing: border-box;
  border-radius: 2px;
  &:hover {
    background: rgba(247, 246, 246, 0.8);
  }

  text {
    position: static;
    width: 81px;
    height: 21px;
    left: 50px;
    top: 10px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.01612em;

    /* P/S1 */

    color: #014f48;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
  }
  img {
    position: absolute;
    left: 20px;
    top: 15px;
  }

  hover {
    background: rgba(255, 255, 255, 0.8);
  }
}
