.array {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  .singleComp {
    margin-top: 20px;
    background: #ffffff;
    /* Neutral/900 */

    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    border-radius: 4px;
    .question {
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      background: #e3e3e3;
      border-radius: 2px 2px 0px 0px;
      .qsn {
        margin: 15px 15px;
        .clicked {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 150%;
          /* identical to box height, or 27px */

          letter-spacing: 0.01612em;

          /* Neutral/200 */

          color: #333333;
        }
        .notclicked {
          font-family: Poppins;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          /* identical to box height, or 27px */

          letter-spacing: 0.01612em;

          /* P/S8 */

          color: #001210;
        }
      }
      .btn {
        font-size: 30px;
        margin-top: 6px;
        margin-right: 20px;
      }
      :hover {
        cursor: pointer;
      }
    }
    .answer {
      width: 95%;
    }
  }
}
