.product-card {
  border: 0.02em solid #cccccc;
  width: 22.5%;
  border-radius: 2px;
  letter-spacing: 0.01612em;
  flex-direction: column;

  margin-bottom: 1.6%;
  .product-card-header {
    position: relative;
    width: 100%;
    height: 350px;

    .img1 {
      width: 100%;
      height: 100%;
    }
    .tag {
      position: absolute;
      background: #ffffff;
      width: 35px;
      font-weight: 500;
      font-size: 90%;
      top: 90%;
      left: 80%;
      text-align: center;
      opacity: 0.8;
      padding-left: 1.4%;
      padding-right: 1.4%;
      border-radius: 1px;
    }

    .like-image {
      position: absolute;
      width: 12.5%;
      height: 10%;
      left: 85%;
      top: 5%;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      overflow: hidden;
      max-width: 30px;
      max-height: 30px;
      align-items: center;
      cursor: pointer;
      img {
        position: absolute;
        left: 20%;
        top: 20%;
        width: 60%;
        height: 60%;
      }
      &:hover {
        background: rgba(255, 255, 255, 0.8);
      }
    }
  }

  .product-card-body {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: left;
    text-align: inline-block;
    display: flex;
    flex-direction: column;
    h4 {
      display: inline-flex;
      font-weight: 500;
      margin: 0px 0px 1%;
      width: 95%;
    }
    .product-card-description{

      p{
        line-height: 18px;
        margin: 0%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    div {
      font-weight: normal;
      margin: 0px 0px 1%;
      font-weight: 700;
      font-size: 75%;
      color: #808080;
      width: 100%;
    }

    .pricing {
      font-size: 120%;
      width: 75%;
      padding-top: 3%;

      .show {
        #price {
          font-weight: 800;
          color: black;
        }
        #strike {
          font-size: 80%;
          padding-left: 3%;
          color: #666666;
          text-decoration: line-through;
        }
        #percent {
          font-size: 90%;
          padding-left: 1%;
          color: #e50015;
        }
      }
    }
  }
}
