.orderconfirmation {
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  .ordconftext {
    margin-top: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.01612em;

    /* Primary/Base */

    color: #015850;
  }
  .thanks {
    margin-top: 20px;
    display: inline-block;
    width: 64%;
    margin: 20px auto;
    /* top: 96px; */
    /* margin-left: 20%; */
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.01612em;
    color: #333333;

  }
  .continueshopping {
    margin: 20px auto;
    width: 100%;
    /* height: 50px; */
    font-weight: 600;
    /* margin-left: 39%; */
    background: #015850;
    border-radius: 2px;
    text-align: center;
    letter-spacing: 0.01612em;
    text-transform: uppercase;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 20px 40px;
    &:hover {
      background: #046d62;
    }
  }
  .deliverybox {
    margin-top: 50px;
    width: 90%;
    max-width: 980px;
    margin: auto;
  }

  .cardbox {
    margin-top: 0;
    border: 1px solid #e6e6e6;
    width: 90%;
    /* height: 420px; */
    max-width: 980px;
    padding: 20px 0px;
  .contactus {
    margin-top: 100px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.01612em;

    /* P/S8 */

    color: #001210;
  }
  .contacttext {
    margin-top: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    text-align: center;
    letter-spacing: 0.01612em;

    /* Neutral/200 */

    color: #333333;
  }
}
}
