.DAfooter {
  color: #4c4c4c;

  .first {
    float: left;
    margin-left: 2rem;
    margin-bottom: 1%;
    margin-top: 1%;
    letter-spacing: 0.04rem;
    font-size: 1rem;
  }
  .nhelp {
    float: right;
    margin-right: 5rem;
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 1rem;
  }
}
