// when delivery at that place not available
.singleComp {
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  position: relative;
  .container {
    border-radius: 2px;
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    .redmess {
      position: absolute;
      width: 887px;
      height: 21px;
      margin-left: 20px;
      top: 8px;

      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height */

      letter-spacing: 0.01612em;

      /* Red */

      color: #eb5757;
    }
    .radio {
      margin-top: 5px;
      margin-left: 20px;
      width: 20px;
      height: 20px;
    }

    .addressText {
      margin-left: 20px;
      margin-right: auto;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */

      letter-spacing: 0.01612em;

      /* Neutral/100 */

      color: #808080;
    }
    .buttonSpan {
      margin-right: 40px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */

      letter-spacing: 0.01612em;

      /* Support/Blue */

      color: #0555bb;
      display: flex;
      flex-direction: column;
      button {
        margin: 5px 0px;
        width: 120px;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        text-align: right;

        font: inherit;
        cursor: pointer;
        outline: inherit;
      }
    }
  }
}
.singleComp1 {
  border: 1px solid #e6e6e6;
  box-sizing: border-box;

  .container {
    border-radius: 2px;
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    .radio {
      margin-top: 5px;
      margin-left: 20px;
      width: 20px;
      height: 20px;
    }

    .addressText {
      margin-left: 20px;
      margin-right: auto;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */

      letter-spacing: 0.01612em;

      /* Neutral/100 */

      color: #191919;
    }
    .buttonSpan {
      margin-right: 40px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */

      letter-spacing: 0.01612em;

      /* Support/Blue */

      color: #0555bb;
      display: flex;
      flex-direction: column;
      button {
        margin: 5px 0px;
        width: 120px;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        text-align: right;

        font: inherit;
        cursor: pointer;
        outline: inherit;
      }
    }
  }
}
