.mctop {
  position: relative;
  width: 460px;
  height: 74px;
  left: 0px;
  top: 0px;

  /* Neutral/200 */

  background: #333333;

  text {
    position: absolute;
    width: 80px;
    height: 30px;
    left: 20px;
    top: 22px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    letter-spacing: 0.01612em;

    color: #ffffff;
  }
  img {
    position: absolute;
    left: 416px;
    top: 25px;
    cursor: pointer;
  }
  img:hover {
    background: rgba(214, 208, 208, 0.8);
  }
}
