.userlocation {
  text {
    // position: absolute;
    // width: 552px;
    // height: 23px;
    padding: 5px 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.01612em;
    text-transform: uppercase;

    /* P/S9 */

    color: #000908;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px;
  }
}
