.deliverycard {
  position: relative;
  background: #ffffff;
  /* Neutral/900 */

  border: 1px solid #e6e6e6;
  border-radius: 2px 2px 0px 0px;
  height: 241px;
  li {
    text-align: right;
  }
  .deliveryonlabel {
    position: absolute;
    left: 30px;
    top: 30px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: 0.01612em;

    /* Neutral/300 */

    color: #4c4c4c;
  }
  .deliveryon {
    position: absolute;
    left: 30px;
    top: 54px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: 0.01612em;

    /* P/S8 */

    color: #001210;
  }
  .ordernolabel {
    position: absolute;
    left: 30px;
    top: 102px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: 0.01612em;

    /* Neutral/300 */

    color: #4c4c4c;
  }
  .orderno {
    position: absolute;
    left: 30px;
    top: 126px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: 0.01612em;

    /* Support/Blue */

    color: #0555bb;
  }
  .shippdet {
    position: absolute;
    left: 327px;
    top: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: 0.01612em;

    /* Neutral/300 */

    color: #4c4c4c;
  }
  .name {
    position: absolute;
    left: 327px;
    top: 54px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01612em;
    width: 20%;
    height: 96px;

    /* P/S8 */

    color: #001210;
  }
  .addr {
    position: absolute;
    left: 327px;
    top: 80px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01612em;
    width: 25%;
    height: 96px;

    /* P/S8 */

    color: #001210;
  }
  .Headings {
    position: absolute;
    left: 70%;
    top: 30px;
    li {
      list-style-type: none;
      margin-bottom: 10px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */

      letter-spacing: 0.01612em;

      /* Neutral/500 */

      color: #808080;
      text-align: left;
    }
  }
  .values {
    position: absolute;
    left: 90%;
    top: 30px;

    li {
      height: 24px;
      margin-bottom: 10px;
      list-style-type: none;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: right;
      letter-spacing: 0.01612em;

      /* Neutral/500 */

      color: #808080;
    }
  }

  .linesum {
    position: absolute;
    left: 70%;
    top: 108px;
    width: 23%;
    height: 0.1px;
    border: 1px solid #e6e6e6;
  }

  .total {
    position: absolute;
    left: 70%;
    top: 118px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: 0.01612em;

    /* P/S8 */

    color: #001210;
  }

  .litotal {
    position: absolute;
    left: 88%;
    top: 118px;
    li {
      position: absolute;
      left: 0px;
      width: 84px;
      height: 24px;
      list-style-type: none;

      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: right;
      letter-spacing: 0.01612em;

      /* P/S8 */

      color: #001210;
    }
  }
  .viewmanage {
    position: absolute;
    left: 30px;
    top: 165px;
    width: 220px;
    height: 46px;
    background: #ffffff;

    border: 1.6px solid #808080;
    box-sizing: border-box;
    border-radius: 2px;
    text-transform: uppercase;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.01612em;
    cursor: pointer;
  }
}
